__pycache__/
*.pyc
.trae/
audio/
*.log
text/
*.db
*.db-shm
*.db-wal
rollback/

# Ignore all PNG images in project root
*.png

# Ignore env file
.env

# Ignore all first-level folders and everything inside them
*/
